/*TODO : CSS 적용을위한 기본 div 태그의 틀 적용 */
div {
    padding: 10px 40px;
}
.mainContainer > div {
    border: 1px black solid;
}
.SoloHeader {
    display: flex;
    justify-content: space-between;
}
.SoloHeader > div {
    border: 1px black solid;
}
.container > div > div {
    border: 1px black solid;
}

.container .content1 {
    display: flex;
    justify-content: space-between;
}

.container .content2 {
    display: flex;
    justify-content: space-between;
}
.container .content2 > div > div {
    border: 1px black solid;
}

.container .content3 {
    display: flex;
    justify-content: space-between;
}
.container .content3 > div:first-child {
    height: 300px;
    /*todo 스크롤 최하단으로 위치. 상단 문제글씨랑 구역 분리.*/
    overflow: auto;
}
.container .content3 > div:last-child {
    display: flex;
    flex-direction : column;
    justify-content : space-around;
    border: 0;
    /*display: inline;*/
    /*height: 40px;*/
}
.container .content3 > div:last-child > div  {
    text-align: center;
    border: 1px pink solid;
}
.container .content3 > div:last-child > .success:before  {
    content: '정답입니다.';
    font-weight: bold;
    color: green;
}
.container .content3 > div:last-child > .fail:before  {
    content: '오답입니다.';
    font-weight: bold;
    color: red;
}