.button {font-size:20px; padding:80px 100px}

#nextTable {
	
  transform: translate(250px, -510px);
}

	#nextLabel {
	transform: translate(230px, -50px);
}

	#anoUserchat {
	transform: translate(230px, 120px);
	}

	  textarea {
    width:200px; 
    height: 6.25em;
 
    resize: none;
  }
  
  #anoUserLabel {
	transform: translate(220px, 110px);
}